
<!DOCTYPE html>
<html lang="en">
<head>
  <title>SpaceX launces</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  <h2>List of specific SpaceX launces</h2>
  <p> Display specific list of SpaceX launces using given REST API endpoint</p>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Flight_Number</th>
        <th>Name</th>
        <th>Launch_year</th>
        <th>Details</th>
        <th>Mission_Patch_Small</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let mission of missionDetails" >
        <td>{{mission.flight_number}}</td>
        <td>{{mission.mission_name}}</td>
        <td>{{mission.launch_year}}</td>
        <td>{{mission.details}}</td>
        <td>{{mission.mission_patch_small}}</td>
      </tr>

    </tbody>
  </table>
</div>

</body>
</html>



